<div>
  <main>
    <div class="content">
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <div class="group__headline">
          <p class="form__headline">Реєстрація</p>
        </div>
        <mat-form-field class="form__input">
          <input matInput formControlName="first_name" type="text" placeholder="Ім'я" pattern="[A-Z,А-Я]{1}[a-z,а-я]{2,20}">
          <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
            Ім'я обов'язкове
          </mat-error>
          <mat-error *ngIf="registerForm.get('first_name').hasError('pattern')">
            Ім'я має починатись з великої літери і містити не менше двох символів
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form__input">
          <input matInput formControlName="last_name" type="text" placeholder="Прізвище"
                 pattern="[A-Z,А-Я]{1}[a-z,а-я]{2,20}">
          <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
            Прізвище обов'язкове
          </mat-error>
          <mat-error *ngIf="registerForm.get('last_name').hasError('pattern')">
            Прізвище має починатись з великої літери і містити не менше двох символів
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form__input">
          <input matInput placeholder="E-mail" formControlName="email"
                 [errorStateMatcher]="matcher">
          <mat-error
            *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
            Будь ласка, введіть коректну E-mail адресу
          </mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('required')">
            E-mail <strong>обов'язковий</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form__input">
          <input matInput formControlName="password" placeholder="Пароль" [type]="hidePassword ? 'password' : 'text'"
                 pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registerForm.get('password').hasError('required')">
            Пароль <strong>обов'язковий</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('pattern')">
            Пароль має містити велику і малу латинські літери, цифру і складатись з мінімум 8 символів
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__input" style="margin-top: 5px;">
          <input matInput formControlName="confirmPassword" placeholder="Підтвердіть пароль"
                 [type]="hideConfirm ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirm">
            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
            Підтвердження паролю <strong>обов'язкове</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('confirmPassword').hasError('validate')">
            Паролі не співпадають
          </mat-error>
        </mat-form-field>
        <div class="form__group">
          <button [disabled]="!registerForm.valid" class="form__button" disabled type="submit"><p *ngIf="!loading">
            ПРОДОВЖИТИ</p><img *ngIf="loading"
                               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
