<mat-toolbar class="bar">
  <span class="filler"></span>
  <button *ngIf="_authService.isLoggedIn()" class="bar__item" mat-button routerLink="/clubs">КЛУБИ</button>
  <button *ngIf="_authService.isLoggedIn()" class="bar__item" mat-button routerLink="/players">ГРАВЦІ</button>
  <button *ngIf="!_authService.isLoggedIn()" class="bar__item" mat-button routerLink="/login">УВІЙТИ</button>
  <button *ngIf="_authService.isLoggedIn()" class="bar__item" mat-button (click)="_authService.logout()">ВИЙТИ</button>
</mat-toolbar>
