<main>
  <div class="content">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="users.length > 0 && !loading">

      <!-- Position Column -->
      <ng-container matColumnDef="First_Name">
        <th mat-header-cell *matHeaderCellDef> Прізвище Ім'я</th>
        <td class="complaints__count" mat-cell *matCellDef="let element"
            [routerLink]="['/player',element.Number_Licenses]"> {{element.First_Name}} {{element.Surname}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Surname">
        <th mat-header-cell *matHeaderCellDef> Позиція</th>
        <td mat-cell
            *matCellDef="let element"> {{element.Position == null ? 'не вказана' : (element.Position[0].length > 1 ? element.Position[0] + '...' : element.Position)}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name_Club">
        <th mat-header-cell *matHeaderCellDef> Клуб</th>
        <td mat-cell *matCellDef="let element"> {{element.Name_Club ? element.Name_Club : 'Вільний агент'}}  </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef> Вік</th>
        <td mat-cell *matCellDef="let element"> {{element.Age}}р.</td>
      </ng-container>

      <ng-container matColumnDef="Game_Experience">
        <th mat-header-cell *matHeaderCellDef> Досвід</th>
        <td mat-cell *matCellDef="let element"> {{element.Game_Experience}}р.</td>
      </ng-container>

      <ng-container matColumnDef="Kicking_Leg">
        <th mat-header-cell *matHeaderCellDef> Б'юча нога</th>
        <td mat-cell *matCellDef="let element"> {{element.Kicking_Leg}} </td>
      </ng-container>

      <ng-container matColumnDef="Cost">
        <th mat-header-cell *matHeaderCellDef> Ціна</th>
        <td mat-cell *matCellDef="let element"> {{element.Cost | currency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    <p class="info-text mat-body-2" *ngIf="users.length <= 0">Гравці відсутні</p>
    <p class="info-text mat-body-2" *ngIf="loading">Loading...</p>

  </div>
</main>
